#select-error-message{
    color: red;
    font-weight: 600;
}

#main{
    display: grid;
    grid-template-areas: 
    "header header header"
    "wlf wlf wlf"
    "display display history"
    "threeday threeday othe"
    "other other other";
    grid-gap: 5px;
    max-width: 800px;
    width: 75%;
    margin: 0 auto;
}

#main > *{
   border: 1px solid black;
   padding: 10px 20px;
   
}

#title-main{
   grid-area: header;
   text-align: center;
}

#weather-location-form{
   grid-area: wlf;
   text-align: center;
}



.main-display{
   grid-area: display;
   grid-gap: 5px;
   text-align: center;

   }

.main-display > *{
   border: 1px solid black;
   
}

.history{
   grid-area: history;
   
}

ul#history-list{
   
}

ul#history-list li{
   border:1px solid black;
   margin: 5px;
   /* display: flex;
   align-items: center; */
   

   
}

#three-day-weather{
   grid-area: threeday;
   grid-gap: 5px;  
}

#three-day-weather-list{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 5px;
   
}

#three-day-weather-list > *{
   border: 1px solid black;
   text-align: center;
   

}

.three-day-weather-list-items{
   
}

#other-info{
   grid-area: other;
}