#select-error-message{
    color: red;
    font-weight: 600;
}

#main{
    display: grid;
    grid-template-areas: 
    "header header header"
    "wlf wlf wlf"
    "display display history"
    "threeday threeday threeday"
    "other other other";
    grid-gap: 5px;
    max-width: 800px;
    width: 75%;
    margin: 0 auto;
}

#main > *{
   border: 1px solid black;
   padding: 10px 20px;
}

#title-main{
   grid-area: header;
}

#weather-location-form{
   grid-area: wlf;
}

.display{
   grid-area: display;

}

.history{
   grid-area: history;
}

#three-day-weather{
   grid-area: threeday;
}

#other-info{
   grid-area: other;
}